Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-narrowing-conversions,
  -bugprone-unchecked-optional-access,
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-security.FloatLoopCounter,
  cert-err09-cpp,
  cert-err34-c,
  cert-err52-cpp,
  cert-err60-cpp,
  cert-msc50-cpp,
  cert-oop11-cpp,
  cert-oop54-cpp,
  cert-str34-c,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-slicing,
  misc-confusable-identifiers,
  misc-definitions-in-headers,
  misc-misleading-bidirectional,
  misc-misleading-identifier,
  misc-misplaced-const,
  misc-new-delete-overloads,
  misc-redundant-expression,
  misc-static-assert,
  misc-throw-by-value-catch-by-reference,
  misc-unconventional-assign-operator,
  misc-uniqueptr-reset-release,
  modernize-deprecated-ios-base-aliases,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-pass-by-value,
  modernize-raw-string-literal,
  modernize-redundant-void-arg,
  modernize-shrink-to-fit,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-noexcept,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-starts-ends-with,
  modernize-use-transparent-functors,
  modernize-use-uncaught-exceptions,
  modernize-use-using,
  performance-*,
  -performance-enum-size,
  -performance-move-const-arg,
  -performance-no-int-to-ptr,
  -performance-no-automatic-move,
  portability-*,
  readability-avoid-const-params-in-decls,
  readability-const-return-type,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-make-member-function-const,
  readability-misleading-indentation,
  readability-non-const-parameter,
  readability-qualified-auto,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-member-init,
  readability-redundant-preprocessor,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-simplify-boolean-expr,
  readability-simplify-subscript-expr,
  readability-static-accessed-through-instance,
  readability-use-anyofallof
WarningsAsErrors: ''
HeaderFilterRegex: '^(app|lib)/'
SystemHeaders: false
FormatStyle: file
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: '4'
