[submodule "externals/IconFontCppHeaders"]
	path = externals/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "externals/cmrc"]
	path = externals/cmrc
	url = https://github.com/vector-of-bool/cmrc
[submodule "externals/imGuIZMO.quat"]
	path = externals/imGuIZMO.quat
	url = https://github.com/BrutPitt/imGuIZMO.quat
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui
[submodule "externals/imgui-filebrowser"]
	path = externals/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "externals/implot"]
	path = externals/implot
	url = https://github.com/epezent/implot
[submodule "externals/imgui-knobs"]
	path = externals/imgui-knobs
	url = https://github.com/altschuler/imgui-knobs.git
