**/.DS_Store
.vs/**
.vscode/**
.cache/**
.pre-commit-cache/**
build*/**
out/**
log*/**
/_CPack_Packages/
/Testing/
/*.dmg
/*.deb
**/*.autosave
CMakeFiles/**
CMakeCache.txt
CMakeLists.txt.user*
entropy_ui.ini
settings.json
CMakeUserPresets.json
