**/.DS_Store
**/*.autosave
**/__pycache__/**
.cache/**
.pre-commit-cache/**
*.py[cod]
.tools/**
.vs/**
.vscode/**
build*/**
doc/**
out/**
log*/**
/_CPack_Packages/
/Testing/
/*.dmg
/*.deb
CMakeFiles/**
CMakeCache.txt
CMakeLists.txt.user*
entropy_ui.ini
settings.json
CMakeUserPresets.json
